@import '../../theme/palette';
@import '../../theme/animations';

.wish_list {
    display: block;
    line-height: 1;
    background-color: cornsilk;
    padding: 0 20px;
    border: 1px solid #fff;
    border-radius: 14px;
    position: fixed;
    width: 335px;

    .title {
        font-family: cursive;
        font-size: 15px;
        font-weight: 600;
        margin: 15px;
    }

    .itemInStart {
        transform: scale(.5);
        opacity: .01;
    }
    .itemInEnd {
        transform: scale(1);
        transition: opacity 700ms $cubic1,
            transform 700ms $cubic1;
        opacity: 1;
    }
    .itemOutStart {
        transform: rotate3d(0, 0, 0, 0) translate(0, 0);
        opacity: 1;
    }
    .itemOutEnd {
        transform: rotate3d(3, 2, 1, 107deg) translate(1250px, -110px);
        transition: opacity 600ms $cubic2, transform 600ms $cubic2;
        opacity: .01;
    }

    ol {
        list-style: none;
    }

}