@import '../../theme/palette';

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 100%;
  position: relative;
  min-height: 450px;

  .title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    &:hover {
      text-decoration: underline;
      cursor: default;
    }
  }

  .content_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
  }

  .side_bar {
    width: 20%;
    margin: 40px 0 0 20px;
  }

  .content_header_divider {
    display: flex;
    justify-content: space-between;
  }
}