@import '../../theme/palette';

.searchBar {
  display: flex;
  justify-content: center;

  form {
    margin-top: 50px;

  }

  input[type=text] {
    min-width: 300px;
  }

  input[type=submit] {
    margin-left: 20px;
  }

}